@font-face {
  font-family: 'Noto Nastaliq Urdu';
  src: url('https://fonts.gstatic.com/ea/notonastaliqurdu/v1/NotoNastaliqUrdu-Regular.woff2');
}
body{
	font-family: 'Noto Nastaliq Urdu', serif !important;
	direction: rtl;
	word-spacing: 4px;
	line-height:2 !important;
}
h1,h2,h3,h4,h5,h6,p,pre{
	font-family: 'Noto Nastaliq Urdu', serif !important;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 30px !important;
	line-height: 2 !important;
}
p, pre, div{
	font-size: 103%	!important
}